@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --RR: "Roboto-Regular";
    --RM: "Roboto-Medium";
    --ReR: "Revalia-Regular";
    --blue: #34547A;

}

body {
    background-color: #e5e5e5;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #eeeff1;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    margin-bottom: 140px;
}

.nav__list-links {
    display: flex;
}

.nav__list-link {
    margin-left: 42px;
    display: block;
    font-family: var(--RM);
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    transition: 0.2s;
}

.nav__list-link:hover {
    color: var(--blue);
}

.nav__logo-logo {
    display: block;
    font-family: var(--ReR);
    font-size: 48px;
    line-height: 60px;
    color: var(--blue);
}

.header__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 146px;
}

.header__descr-title {
    font-family: var(--RM);
    font-size: 48px;
    line-height: 79px;
    color: #000;
}

.header__descr-descr {
    font-family: var(--RR);
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 60px 0;
    width: 540px;
}

.header__descr-btn {
    display: block;
    font-family: var(--RR);
    font-size: 16px;
    line-height: 26px;
    padding: 20px 41px;
    background-color: #000;
    color: #fff;
    width: 225px;
    text-align: center;
    transition: 0.5s;
    letter-spacing: 0.1em;
}

.header__descr-btn:hover {
    background-color: var(--blue);
}

.header__about-img {
    margin-left: 100px;
}

.main__content-myprojects {
    background-color: var(--blue);
}

.main__myprojects-about {
    display: flex;
}

.main__content-myproject {
    display: flex;
}

.main__aboutme-title {
    margin-top: 119px;
    font-family: var(--RM);
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.main__aboutme-para {
    font-family: var(--RR);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    width: 540px;
    text-align: center;
    color: #727272;
}

.main__aboutme-descr {
    margin: 50px 0 100px 0;
    display: flex;
    justify-content: center;
}

.main__myprojects-icon {
    font-size: 50px;
    color: white;
    margin: 100px 20px 100px 0;
}

.main__myprojects-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__content-myproject {
    display: flex;
    justify-content: space-between;
}

.main__myprojects-para {
    font-family: var(--RM);
    font-size: 21px;
    line-height: 25px;
    color: white;
    margin: 5px 0;
}

.main__myprojects-para p {
    font-family: var(--RR);
    font-size: 16px;
    line-height: 27px;
}

.main__myskills-img {
    margin-top: 102px;
    margin-bottom: 101px;
    width: 555px;
}

.main__myskills-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__myskills-title {
    font-family: var(--RM);
    font-size: 32px;
    line-height: 38px;
    color: #000;
    margin-bottom: 50px;
}

.main__myskills-app {
    font-family: var(--RR);
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.main__myskills-app::after {
    content: '';
    display: block;
    width: 445px;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 29px;
    background: linear-gradient(to right, #34547A 80%, #C4C4C4 20%);
}

.main__howiwork-title {
    font-family: var(--RM);
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000;
    margin-top: 100px;
    margin-bottom: 50px;
}

.main__howiwork-descr {
    font-family: var(--RR);
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
    margin: 0 auto;
}

.main__howiwork-about {
    background-color: #EEEFF1;

    padding: 100px 0;
}

.main__howiwork-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
    position: relative;
}

.main__howiwork-img {
    position: relative;
    width: 100%;
}

.main__howiwork-icon {
    position: absolute;
    display: block;
    font-size: 0px;
    color: white;
    left: 505px;
    top: 250px;
}

.main__card-img {
    width: 100%;
}

.main__cards-card::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #34547ACC;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.main__cards-card:hover:after,
.main__cards-card:focus:after {
    opacity: 1;
}

.main__cards-card:hover .main__card-icon {
    opacity: 1;
}

.main__cards-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__content-cards {
    display: flex;
    justify-content: center;
}

.main__content-about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 28px;
}

.main__card-icon {
    position: absolute;
    font-size: 100px;
    color: white;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.main__microsofts-logos {
    display: flex;
    flex-wrap: nowrap;
    padding: 78px 0 100px 0;
}

.main__microsofts-logo {
    margin-right: 30px;
    width: 255px;
}

.footer {
    padding: 50px 0;
    background-color: var(--blue);
}

.footer__content-name {
    font-family: var(--RM);
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 20px;
}

.footer__content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__content-rights {
    font-family: var(--RR);
    font-size: 13px;
    line-height: 21px;
    color: #fff;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__content-icon {
    font-size: 43px;
    color: #fff;
    padding-right: 21px;
}

.main__website-title {
    color: #000;
    font-family: var(--RM);
    font-size: 32px;
    line-height: 38px;

}

.main__website-descr {
    font-family: var(--RR);
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 540px;
    text-align: center;
    margin: 50px 0 65px 0;
}

.main__website-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__website-input {
    width: 255px;
    height: 50px;
    border: none;
    outline: none;
    padding: 17px 18px 20px;
}

.main__website-email {
    width: 255px;
    height: 50px;
    border: none;
    outline: none;
    padding: 17px 18px 20px;
}

.main__website-msg {
    width: 540px;
    height: 175px;
    border: none;
    outline: none;
    padding: 17px 0 143px 20px;
}

.main__website-upperinput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main__website-button {
    border: none;
    outline: none;
    padding: 20px 19px;
    font-family: var(--RR);
    font-size: 14px;
    line-height: 23px;
    background-color: #000;
    color: #fff;
    display: block;
    transition: 0.5s;
    width: 190px;
    letter-spacing: 0.15em;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.main__website-button:hover {
    background-color: var(--blue);
}

/* ----------------------MEDIA------------------------- */

@media(max-width: 1110px) {

    .main__content-myproject,
    .main__microsofts-logos,
    .main__myskills-about {
        flex-wrap: wrap;
    }

    .main__myskills-about {
        justify-content: center;
    }
}

@media(max-width: 1000px) {

    .header__about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__about-img {
        margin-left: 0;
    }

    .header__about-descr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__card-icon {
        font-size: 80px;
    }
}

@media(max-width: 680px) {

    .nav__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__card-icon {
        font-size: 60px;
    }
}

@media(max-width: 410px) {

    .header__descr-title{
        font-size: 35px;
        line-height: 30px;
    }
}

@media(max-width: 592px) {

    .nav__list-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__howiwork-descr,
    .main__myskills-img,
    .header__descr-descr,
    .main__website-descr {
        width: 100%;
    }

    .main__website-msg {
        width: 310px;
    }

    .main__website-input,
    .main__website-email {
        width: 150px;
    }

    .main__myskills-app::after {
        width: 100%;
    }

    .main__microsofts-logo,
    .header__about-png {
        width: 100%;
    }

    .main__card-icon {
        font-size: 40px;
    }
}